<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm Abhay, a software developer passionate about immersive technology. From Lego Technic creations, Arduino robotics to CAD simulations, I've always loved turning ideas into code. Now, I focus on VR development.</p>
      </div>
      <div class="col-lg-4">
        <p>I became fascinated by its potential to transform industries. I thrive on coding interactive VR experiences and simulations. I'm dedicated to staying updated in this field, constantly learning and experimenting.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/abhay-panot/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> More About Me
        </a>
      </div>
    </div>
  </div>
</section>